.header {
    display: flex;
    justify-content: center;
}

.linea-vertical {
    border-left: 2px solid black;
    /* Cambia el color y grosor de la línea según tus preferencias */
    height: 25px;
    /* Ajusta la altura de la línea vertical */
    margin: 1px 15px;
    /* Espacio a ambos lados de la línea vertical */
}

.liuno {
    padding-right: 15px;
}

.lidos {
    padding-right: 70px;
}

.litres {
    padding-left: 25px;
}

.licuatro {
    padding-right: 5px;
}

.letras {
    font-size: 13px;
    /* Tamaño de letra en píxeles */
    color: #ffffff;
    /* Color del texto en formato hexadecimal */
    font-family: Arial, sans-serif;
    /* Fuente del texto */
}

.letras2 {
    font-size: 13px;
    /* Tamaño de letra en píxeles */
    color: #ffffff;
    /* Color del texto en formato hexadecimal */
    font-family: Arial, sans-serif;
    /* Fuente del texto */
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 50px;
}

.image-ubicar {
    margin-top: 10px;
}

.image-ubicardos {
    margin-top: 2px;
}

#fondo {
    background-color: rgb(32, 11, 100);
}