<section>
  <div>
    <img src="assets/image/imagen-halo-tres.webp" alt="" class="fondoinfinite2">
  </div>
  <div class="contenedor texto60">
    <h1 class="textoh9">
      <u>Formulario de registro</u>
    </h1>
    <div class="contenedor-formulario">
      <div class="organizar-formulario textoh8">
        <form [formGroup]="registroForm" class="row g-3" id="formularioContacto">
          <div class="col-md-6">
            <label for="inputEmail" class="form-label">Correo</label>
            <input type="email" formControlName="correo" class="form-control" id="inputEmail"
              placeholder="Ingresa tu correo">
            <span id="correoError"></span>
          </div>
          <div class="col-md-6">
            <label for="inputPassword" class="form-label">Clave</label>
            <input type="password" formControlName="clave" class="form-control" id="inputPassword"
              placeholder="Ingresa tu contraseña">
            <span id="claveError"></span>
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Dirección residencia</label>
            <input type="text" formControlName="direccion" class="form-control" id="inputAddress"
              placeholder="Ingresa tu dirección de residencia">
            <span id="direccionresidenciaError"></span>
          </div>
          <div class="col-12">
            <label for="inputAddress2" class="form-label">Dirección trabajo</label>
            <input type="text" formControlName="direcciontra" class="form-control" id="inputAddress2"
              placeholder="Ingresa tu dirección de trabajo">
            <span id="direcciontrabajoError"></span>
          </div>
          <div class="col-md-4">
            <label for="inputCity" class="form-label">Ciudad</label>
            <input type="text" formControlName="ciudad" class="form-control" id="inputCity"
              placeholder="Ingresa el nombre de tu ciudad">
            <span id="ciudadError"></span>
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Departamento</label>
            <select id="inputState" formControlName="departamento" class="form-select">
              <option selected>Seleccione</option>
              <option>Valle</option>
              <option>Huila</option>
              <option>Cundinamarca</option>
              <option>Magdalena</option>
              <option>Nariño</option>
              <option>Boyacá</option>
              <option>Guajira</option>
              <option>Chocó</option>
              <option>Antioquia</option>
              <option>Caldas</option>
              <option>Risaralda</option>
              <option>Quindio</option>
            </select>
            <span id="departamentoError"></span>
          </div>
          <div class="col-md-4">
            <label for="inputZip" class="form-label">Código Postal</label>
            <input type="text" formControlName="zip" class="form-control" id="inputZip"
              placeholder="Ingresa tu código postal">
            <span id="zipError"></span>
          </div>
          <!--  <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck" onclick="validar()">
              <label class="form-check-label" for="gridCheck">
                Validar
              </label>
            </div>
          </div> -->
          <div *ngIf="mostrarMensaje">
            <p>Por favor ingresa los datos que te solicitan</p>
          </div>
          <div class="col-12">
            <button type="submit" (click)="guardar()" id="btnGuardar" class="btn btn-success textoh8">Guardar</button>
            <span id="guardarError"></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>