<section>
  <div>
    <img src="assets/image/Halo-infinite.jpeg" alt="" class="fondoinfinite">
  </div>
  <div class="contenedor texto50">
    <h1 class="textoh1">
      Halo Infinite
    </h1>
    <a class="textoh2" (click)='scrollto("masinformacion")' role="button"><b>MÁS INFORMACIÓN ></b></a>
  </div>
</section>
<section>
  <div class="contenedor2 bg-black">
    <div>
      <img class="imagen-halo" src="assets/image/Halo-Logo.png" alt="Imagen de Halo" width="1000" height="200">
    </div>
    <div>
      <p class="textoh3">Bienvenido al universo de Halo</p>
    </div>
    <div>
      <p class="textoh4">Novedades de Halo</p>
    </div>
    <div>
      <div class="card mb-5" style="width: 114rem;" style="width: 100%;">
        <img src="assets/image/image-control.png" class="card-img-top" alt="Imagen de un control de Xbox">
        <div class="card-body div-card">
          <h5 class="card-title textoh5">Conviértete en Elite</h5>
          <p class="card-text textoh6">Entra en la armadura del mayor héroe de la humanidad con el Control inalámbrico
            Xbox Elite Series 2: Edición limitada Halo Infinite.</p>
          <a id="masinformacion" href="https://www.xbox.com/es-CO/accessories"
            class="p-1 link-success link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover textoh7">MÁS
            INFORMACIÓN > </a>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</section>
<section>
  <div>
    <img src="assets/image/halo-versiones.jpg" alt="" class="fondoinfinite">
  </div>
  <div class="container-fluid contenedor5 texto51">
    <img class="image-ubicarcuatro" src="assets/image/gamepass-logo.png" width="390px" alt="logo de Xbox gamepass">
    <br>
    <br>
    <br>
    <h1 class="textoh10">Juega a Halo con Xbox Game Pass</h1>
    <p class="textoh11">Los miembros de Xbox Game Pass pueden disfrutar de los títulos de Halo, además de más de 100
      juegos de alta calidad por un bajo precio mensual. ¿Aún no eres miembro?</p>
    <br>
    <br>
    <a href="https://www.xbox.com/es-CO/xbox-game-pass"
      class="p-5 link-success link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover textoh7">ÚNETE
      A XBOX GAME PASS ></a>
  </div>
</section>