<section>
  <div>
    <img src="assets/image/imagen-halo-cuatro.webp" alt="" class="fondoinfinite3">
  </div>
  <div class="contenedor texto70">
    <h1 class="textoh9">
      <u>Mapa ubicación de Halo</u>
    </h1>
    <div class="contenedor3 p-5">
      <iframe class="rounded-5"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3976.35229737033!2d-74.05050366134766!3d4.7087211263266004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f854bf39df1b9%3A0x7b8ccbc42fb29924!2sConjunto%20Residencial%20La%20Ermita!5e0!3m2!1ses!2sco!4v1697079559257!5m2!1ses!2sco"
        width="1600" height="850" style="border: 3px;;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>