<section>
  <div>
    <img src="assets/image/imagen-halo-dos.webp" alt="" class="fondoinfinite4">
  </div>
  <div class="contenedor texto80">
    <h1 class="textoh9">
      <u>Videos demostrativos de Halo</u>
    </h1>
    <div class="video-container">
      <div class="video p-2">
        <iframe class="rounded-5 float-start" width="560" height="415"
          src="https://www.youtube.com/embed/zQciMy_Pr0Q?si=X3TFsDPCFzD0kp-7" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="video p-2">
        <iframe class="rounded-5 float-start" width="560" height="415"
          src="https://www.youtube.com/embed/CnWTf5vSxms?si=knpIAw-SePgHd9wI" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="video p-2">
        <iframe class="rounded-5 float-end" width="560" height="415"
          src="https://www.youtube.com/embed/YJom7BXjxx8?si=imrBmBVq7VQaedHf" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="video-container">
      <div class="video p-2">
        <iframe class="rounded-5 float-start" width="560" height="415"
          src="https://www.youtube.com/embed/u7oRIRn3mc4?si=K1eVW70vRxtWa_YQ" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="video p-2">
        <iframe class="rounded-5 float-end" width="560" height="415"
          src="https://www.youtube.com/embed/j9jxO9oBaGY?si=Sr8CwBU-4R_FVEpO" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="video p-2">
        <iframe class="rounded-5 float-end" width="560" height="415"
          src="https://www.youtube.com/embed/eq-fsCcPNKU?si=W2jwcWWlrn3LCmuy" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>